storage/wsdl/manageappointmentactivityin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:y6s="http://0002961282-one-off.sap.com/Y6SAJ0KGY_" xmlns:n0="http://sap.com/xi/SAPGlobal20/Global" xmlns:tns="http://sap.com/xi/SAPGlobal20/Global" targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://0002961282-one-off.sap.com/Y6SAJ0KGY_">
      <xs:element name="zClienteComodin" type="xs:string"/>
      <xs:element name="zFechaHoraProbSalida" type="xs:date"/>
      <xs:element name="zHoraProbSalida" type="xs:time"/>
      <xs:element name="zIDCentro" type="xs:string"/>
      <xs:element name="zPlaca" type="xs:string"/>
      <xs:element name="zEstadoCita" type="xs:string"/>
      <xs:element name="zVieneHCP" type="xs:string"/>
      <xs:element name="zExpress" type="xs:string"/>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
      <xs:import namespace="http://0002961282-one-off.sap.com/Y6SAJ0KGY_"/>
      <xs:element name="AppointmentActivityBundleMaintainRequest_sync_V1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AppointmentActivity" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="actionCode" type="xs:string" minOccurs="0"/>
                  <xs:element name="UUID" type="xs:string" minOccurs="0"/>
                  <xs:element name="DocumentTypeCode" type="xs:string" minOccurs="0"/>
                  <xs:element name="LifeCycleStatusCode" type="xs:string" minOccurs="0"/>
                  <xs:element name="MainActivityParty" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BusinessPartnerInternalID" type="xs:string" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="AttendeeParty" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="EmployeeID" type="xs:string" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="StartDateTime" minOccurs="0">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:dateTime">
                          <xs:attribute name="timeZoneCode" type="xs:string"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="EndDateTime" minOccurs="0">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:dateTime">
                          <xs:attribute name="timeZoneCode" type="xs:string"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Text" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="actionCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="TextTypeCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="ContentText" type="xs:string" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element ref="y6s:zClienteComodin" minOccurs="0"/>
                  <xs:element ref="y6s:zFechaHoraProbSalida" minOccurs="0"/>
                  <xs:element ref="y6s:zHoraProbSalida" minOccurs="0"/>
                  <xs:element ref="y6s:zIDCentro" minOccurs="0"/>
                  <xs:element ref="y6s:zPlaca" minOccurs="0"/>
                  <xs:element ref="y6s:zEstadoCita" minOccurs="0"/>
                  <xs:element ref="y6s:zVieneHCP" minOccurs="0"/>
                  <xs:element ref="y6s:zExpress" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="actionCode" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AppointmentActivityBundleMaintainConfirmation_sync_V1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AppointmentActivity" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ChangeStateID" type="xs:string" minOccurs="0"/>
                  <xs:element name="UUID" type="xs:string" minOccurs="0"/>
                  <xs:element name="ID" type="xs:string" minOccurs="0"/>
                  <xs:element name="GroupwareItemID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Log" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="MaximumLogItemSeverityCode" type="xs:integer" minOccurs="0"/>
                  <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="SeverityCode" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Note" type="xs:string" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="AppointmentActivityBundleMaintainRequest_sync_V1">
    <wsdl:part name="parameters" element="tns:AppointmentActivityBundleMaintainRequest_sync_V1"/>
  </wsdl:message>
  <wsdl:message name="AppointmentActivityBundleMaintainConfirmation_sync_V1">
    <wsdl:part name="parameters" element="tns:AppointmentActivityBundleMaintainConfirmation_sync_V1"/>
  </wsdl:message>
  <wsdl:portType name="ManageAppointmentActivityIn">
    <wsdl:operation name="AppointmentActivityBundleMaintainRequest_sync_V1">
      <wsdl:input message="tns:AppointmentActivityBundleMaintainRequest_sync_V1"/>
      <wsdl:output message="tns:AppointmentActivityBundleMaintainConfirmation_sync_V1"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageAppointmentActivityInBinding" type="tns:ManageAppointmentActivityIn">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AppointmentActivityBundleMaintainRequest_sync_V1">
      <soap:operation soapAction="http://sap.com/xi/SAPGlobal20/Global/AppointmentActivityBundleMaintainRequest_sync_V1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageAppointmentActivityInService">
    <wsdl:port name="ManageAppointmentActivityInPort" binding="tns:ManageAppointmentActivityInBinding">
      <soap:address location="https://my317791.crm.ondemand.com/sap/bc/srt/scs/sap/manageappointmentactivityin1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
